# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
db.sqlite3
media/
staticfiles/
*.mo

# Environment
.env
.venv/
venv/
ENV/
env/
.venv/

# PyCharm
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# MacOS
.DS_Store

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Migrations
*/migrations/*.py
!*/migrations/__init__.py

# Node.js (если используете frontend)
node_modules/
npm-debug.log
yarn-error.log

# Celery
celerybeat-schedule
celerybeat.pid

# Sentry
.sentryclirc
