services:
  db:
    image: postgres:16
    container_name: db
    environment:
      POSTGRES_USER: django_user
      POSTGRES_PASSWORD: django_password
      POSTGRES_DB: django_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgresql.conf:/etc/postgresql/postgresql.conf
    command: postgres -c config_file=/etc/postgresql/postgresql.conf
    restart: unless-stopped


  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

  web:
    build: .
    container_name: web
    command: sh -c "python manage.py migrate && gunicorn movies_project.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    environment:
      DJANGO_SETTINGS_MODULE: movies_project.settings
      DATABASE_URL: postgres://django_user:django_password@db:5432/django_db
      REDIS_URL: redis://redis:6379

volumes:
  postgres_data: